[database]
quay.homelab.work

[redis]
quay.homelab.work

[nfs]
quay.homelab.work

[quay]
quay.homelab.work

[quay-systems:children]
database
redis
nfs
quay

[quay-systems:vars]
ansible_ssh_user=root
quay_ansible_satellite_fqdn=sat6.homelab.work
quay_ansible_satellite_key=rhel-7-server-minimal
quay_ansible_satellite_org=homelab_infra
